In [2]:
import pandas as pd
import numpy as np

In [7]:
baseDP = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep=';', encoding='latin1')
baseDP

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [14]:
baseDP_furto_celular = baseDP['furto_celular']
baseDP_furto_celular.head(20)

0     37
1     23
2     47
3      8
4      1
5     16
6     21
7     29
8     34
9     36
10     8
11    18
12    15
13    10
14    17
15     3
16     9
17     4
18    11
19     4
Name: furto_celular, dtype: int64

In [45]:
baseDP_delegacias = baseDP.groupby('cisp')['furto_celular'].sum().reset_index()
baseDP_delegacias

     cisp  furto_celular
0       1          14789
1       4          13093
2       5          22494
3       6           6072
4       7           1425
..    ...            ...
133   159            450
134   165           1216
135   166           2531
136   167            483
137   168            119

[138 rows x 2 columns]

In [37]:
baseDP_est = np.array(baseDP_furto_celular['furto_celular'])
mediana = np.median(baseDP_est)
media = np.mean(baseDP_est).round(1)  
q1 = np.percentile(baseDP_est, 25) ### equivalente ao primeiro quartil, que menos esperaram
q2 = np.percentile(baseDP_est, 50)
q3 = np.percentile(baseDP_est, 75)
print((f'media de furtos: {media}'))
print((f'primeiro quartil: {q1}'))
print((f'mediana: {mediana}'))
print((f'mediana (segundo quartil): {q2}'))
print((f'terceiro quartil: {q3}'))

media de furtos: 3281.0
primeiro quartil: 445.5
mediana: 1609.5
mediana (segundo quartil): 1609.5
terceiro quartil: 4377.25

In [50]:
baseDP_est_menor = baseDP_delegacias.loc[baseDP_delegacias['furto_celular'] < q1]
baseDP_est_menor

     cisp  furto_celular
7      11            383
41     45             73
60     67            351
61     70            196
77     92             63
79     94            355
82     97            226
83     98             89
84     99            428
85    100            386
86    101            350
87    104             72
90    107            442
92    109            135
94    111             81
95    112            209
98    120            291
99    121            444
100   122            200
108   130            236
111   135            350
113   137            297
114   138             51
115   139            357
116   140            163
118   142             98
123   147            160
124   148            193
126   152            107
127   153            253
129   155             46
130   156            108
131   157             55
132   158            153
137   168            119

In [51]:
baseDP_est_maior = baseDP_delegacias.loc[baseDP_delegacias['furto_celular'] >= q3]
baseDP_est_maior

     cisp  furto_celular
0       1          14789
1       4          13093
2       5          22494
3       6           6072
5       9          13892
6      10          13855
8      12          15757
9      13           7090
10     14          16492
11     15           6640
12     16          24451
13     17           7674
14     18          12287
15     19           8153
16     20           4951
17     21           6491
18     22           5578
19     23           7105
20     24           4380
23     27           4465
25     29           7607
28     32          11980
29     33           5926
30     34           6746
31     35          11673
32     36           5432
33     37           6452
37     41           5263
38     42           7502
45     52           5214
52     59           8510
65     74           4648
67     76           7814
68     77           4695
104   126           4753

In [83]:
BaseDP_estelionato = baseDP.groupby('cisp')['estelionato'].sum().reset_index()
BaseDP_estelionato

     cisp  estelionato
0       1        27293
1       4         6918
2       5        21417
3       6         7226
4       7         2182
..    ...          ...
133   159         1767
134   165         1950
135   166         7979
136   167         2338
137   168          449

[138 rows x 2 columns]

In [79]:
base_est_estelio = np.array(BaseDP_estelionato['estelionato'])
mediana = np.median(base_est_estelio)
media = np.mean(base_est_estelio).round(1) 
q1 = np.percentile(base_est_estelio, 25) ### equivalente ao primeiro quartil, que menos esperaram
q2 = np.percentile(base_est_estelio, 50)
q3 = np.percentile(base_est_estelio, 75)
print((f'media de estelionatos: {media}'))
print((f'primeiro quartil: {q1}'))
print((f'mediana: {mediana}'))
print((f'mediana (segundo quartil): {q2}'))
print((f'terceiro quartil: {q3}'))

media de estelionatos: 7757.9
primeiro quartil: 1290.5
mediana: 6075.0
mediana (segundo quartil): 6075.0
terceiro quartil: 11315.75

In [80]:
baseEstelionato_menor = BaseDP_estelionato.loc[BaseDP_estelionato['estelionato'] < q1]
baseEstelionato_menor

     cisp  estelionato
41     45           98
61     70          786
77     92          260
79     94          858
82     97          777
83     98          375
84     99         1153
85    100          975
86    101          789
87    104          452
92    109          496
94    111          313
95    112          619
98    120          608
99    121         1282
100   122          593
108   130          849
109   132         1290
111   135          900
113   137          727
114   138          167
115   139          511
116   140          534
118   142          360
121   145         1176
123   147          937
124   148          435
126   152          340
127   153          628
128   154         1186
129   155          129
130   156          222
131   157          174
132   158          860
137   168          449

In [81]:
baseEstelionato_maior = BaseDP_estelionato.loc[BaseDP_estelionato['estelionato'] >= q3]
baseEstelionato_maior

     cisp  estelionato
0       1        27293
2       5        21417
5       9        17092
6      10        19249
8      12        21174
9      13        11509
10     14        18586
12     16        41003
15     19        20340
16     20        13490
17     21        17909
18     22        13293
19     23        14311
23     27        13830
25     29        17796
28     32        32570
29     33        15389
30     34        23101
31     35        38234
32     36        15234
33     37        15427
37     41        12936
38     42        19272
45     52        18256
47     54        15409
52     59        25876
57     64        22503
63     72        13514
67     76        18060
68     77        15591
78     93        15597
88    105        12767
101   123        16842
104   126        12606
110   134        18912