In [7]:
import pandas as pd

df = pd.read_csv('comb.csv', sep=';')

C:\Users\usuario\AppData\Local\Temp\ipykernel_39248\2430735703.py:3: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('comb.csv', sep=';')

In [15]:
df_rio = df[df['Estado - Sigla'] == 'RJ']
df_rio = df_rio[['Produto','Bairro', 'Valor de Venda']]
df_rio

                   Produto           Bairro Valor de Venda
54                     GNV   PQ SANTO AMARO           5,39
55                GASOLINA   PQ SANTO AMARO           6,49
56      GASOLINA ADITIVADA   PQ SANTO AMARO           6,69
57                  ETANOL   PQ SANTO AMARO           4,79
58                GASOLINA        TURF CLUB           6,42
...                    ...              ...            ...
420095          DIESEL S10  CHACARA PARAISO           6,69
420096              ETANOL  CHACARA PARAISO           5,05
420152            GASOLINA          FONSECA           5,69
420153  GASOLINA ADITIVADA          FONSECA           5,69
420154              ETANOL          FONSECA           4,19

[36254 rows x 3 columns]

In [ ]:
media_bairros = df_rio.groupby(['Produto', 'Bairro'])['Valor de Venda'].mean().reset_index()
media_bairros