In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
baseDP = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep=';', encoding='latin1')
baseDP

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [24]:
baseDP['regiao'].unique()

array(['Capital', 'Baixada Fluminense', 'Interior', 'Grande NiterÃƒÂ³i'],
      dtype=object)

In [32]:
print("Colunas disponÃ­veis:")
print(baseDP.columns.tolist())

Colunas disponÃ­veis:
['cisp', 'mes', 'ano', 'mes_ano', 'aisp', 'risp', 'munic', 'mcirc', 'regiao', 'hom_doloso', 'lesao_corp_morte', 'latrocinio', 'cvli', 'hom_por_interv_policial', 'letalidade_violenta', 'tentat_hom', 'lesao_corp_dolosa', 'estupro', 'hom_culposo', 'lesao_corp_culposa', 'roubo_transeunte', 'roubo_celular', 'roubo_em_coletivo', 'roubo_rua', 'roubo_veiculo', 'roubo_carga', 'roubo_comercio', 'roubo_residencia', 'roubo_banco', 'roubo_cx_eletronico', 'roubo_conducao_saque', 'roubo_apos_saque', 'roubo_bicicleta', 'outros_roubos', 'total_roubos', 'furto_veiculos', 'furto_transeunte', 'furto_coletivo', 'furto_celular', 'furto_bicicleta', 'outros_furtos', 'total_furtos', 'sequestro', 'extorsao', 'sequestro_relampago', 'estelionato', 'apreensao_drogas', 'posse_drogas', 'trafico_drogas', 'apreensao_drogas_sem_autor', 'recuperacao_veiculos', 'apf', 'aaapai', 'cmp', 'cmba', 'ameaca', 'pessoas_desaparecidas', 'encontro_cadaver', 'encontro_ossada', 'pol_militares_mortos_serv', 'pol_civis_mortos_serv', 'registro_ocorrencias', 'fase']

In [33]:
# Ver valores Ãºnicos das colunas de Ã¡rea
print("AISPs Ãºnicas:", baseDP['aisp'].unique())
print("CISPs Ãºnicas:", baseDP['cisp'].unique())

AISPs Ãºnicas: [ 5  1  2 19 23 36  4  6 22 16  3  9 14 18 31 27 17 24 20 15 34 35  7 12
 10 28 30 26 11 25  8 37 29 32 13 39 21 38 33 40 41 43]
CISPs Ãºnicas: [  1   4   5   6   7   9  10  12  13  14  15  16  17  18  19  20  21  22
  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40
  41  44  48  50  51  52  53  54  55  56  57  58  59  60  61  62  64  65
  66  71  72  73  74  75  76  77  78  79  81  82  88  89  90  91  92  93
  94  95  96  97  98  99 100 104 105 106 107 108 109 110 111 112 118 119
 120 121 122 123 124 125 126 127 128 129 134 135 136 137 138 139 140 141
 142 143 144 145 146 151 152 153 154 155 156 157 158 159 165 166 167 168
  43 147  63 101 130  42 148  67  70 132  11  45]

In [44]:
baseDP_apreenssao = baseDP['aaapai']
baseDP_apreenssao

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
36624    1.0
36625    0.0
36626    9.0
36627    4.0
36628    0.0
Name: aaapai, Length: 36629, dtype: float64

In [ ]:
print(baseDP_ordenada[['munic', 'aaapai']].head(10))

In [13]:
baseDP_baixada = baseDP[baseDP['regiao'] == 'Baixada Fluminense']
baseDP_baixada.head(20)

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
38,48,1,2003,2003m01,24,3,SeropÃ©dica,3305554,Baixada Fluminense,4,...,NaN,NaN,28,0,1,0,0,0,139,3
39,50,1,2003,2003m01,24,3,ItaguaÃ­,3302007,Baixada Fluminense,7,...,NaN,NaN,79,3,0,0,0,0,246,3
40,51,1,2003,2003m01,24,3,Paracambi,3303609,Baixada Fluminense,2,...,NaN,NaN,26,2,0,0,0,0,91,3
41,52,1,2003,2003m01,20,3,Nova IguaÃ§u,3303500,Baixada Fluminense,6,...,NaN,NaN,94,1,1,0,0,0,585,3
42,53,1,2003,2003m01,20,3,Mesquita,3302858,Baixada Fluminense,8,...,NaN,NaN,89,4,1,0,0,0,372,3
43,54,1,2003,2003m01,20,3,Belford Roxo,3300456,Baixada Fluminense,20,...,NaN,NaN,211,15,2,0,0,0,703,3
44,55,1,2003,2003m01,24,3,Queimados;Japeri,9999981,Baixada Fluminense,11,...,NaN,NaN,49,12,0,0,0,0,268,3
45,56,1,2003,2003m01,20,3,Nova IguaÃ§u,3303500,Baixada Fluminense,27,...,NaN,NaN,89,9,0,0,0,0,380,3
46,57,1,2003,2003m01,20,3,NilÃ³polis,3303203,Baixada Fluminense,5,...,NaN,NaN,74,6,0,0,0,0,447,3
47,58,1,2003,2003m01,20,3,Nova IguaÃ§u,3303500,Baixada Fluminense,29,...,NaN,NaN,128,6,1,0,0,0,569,3
48,59,1,2003,2003m01,15,3,Duque de Caxias,3301702,Baixada Fluminense,14,...,NaN,NaN,155,14,3,0,0,0,1221,3
49,60,1,2003,2003m01,15,3,Duque de Caxias,3301702,Baixada Fluminense,21,...,NaN,NaN,39,9,2,0,0,0,370,3
50,61,1,2003,2003m01,15,3,Duque de Caxias,3301702,Baixada Fluminense,2,...,NaN,NaN,24,1,0,0,0,0,124,3
51,62,1,2003,2003m01,15,3,Duque de Caxias,3301702,Baixada Fluminense,12,...,NaN,NaN,27,3,1,0,0,0,172,3
52,64,1,2003,2003m01,20,3,SÃ£o JoÃ£o de Meriti,3305109,Baixada Fluminense,17,...,NaN,NaN,85,7,2,0,0,0,898,3
53,65,1,2003,2003m01,34,5,MagÃ©;Guapimirim,9999982,Baixada Fluminense,4,...,NaN,NaN,70,4,0,0,0,0,285,3
54,66,1,2003,2003m01,34,5,MagÃ©,3302502,Baixada Fluminense,8,...,NaN,NaN,53,4,4,0,0,0,278,3
164,48,2,2003,2003m02,24,3,SeropÃ©dica,3305554,Baixada Fluminense,7,...,NaN,NaN,19,1,0,0,0,0,187,3
165,50,2,2003,2003m02,24,3,ItaguaÃ­,3302007,Baixada Fluminense,5,...,NaN,NaN,39,4,2,0,0,0,252,3
166,51,2,2003,2003m02,24,3,Paracambi,3303609,Baixada Fluminense,3,...,NaN,NaN,31,3,0,0,0,0,111,3

In [4]:
apreensoes_municipio = baseDP_baixada.groupby('munic')['aaapai'].sum().reset_index()
apreensoes_municipio = apreensoes_municipio.sort_values(by='aaapai', ascending=False)
apreensoes_municipio

                 munic  aaapai
1      Duque de Caxias  6233.0
9          Nova IguaÃ§u  4098.0
14  SÃ£o JoÃ£o de Meriti  2953.0
0         Belford Roxo  2584.0
5                 MagÃ©  1251.0
7             Mesquita  1218.0
3              ItaguaÃ­   881.0
8            NilÃ³polis   693.0
11           Queimados   573.0
4               Japeri   402.0
10           Paracambi   366.0
13          SeropÃ©dica   309.0
2           Guapimirim   213.0
6      MagÃ©;Guapimirim   126.0
12    Queimados;Japeri     0.0

In [ ]:

valores = np.array(apreensoes_municipio["aaapai"])
media = np.mean(valores)
mediana = np.median(valores)
q1 = np.percentile(valores, 25)
q3 = np.percentile(valores, 75)
iqr = q3 - q1
limite_inferior = q1 - 1.5 * iqr
limite_superior = q3 + 1.5 * iqr

print("=== EstatÃ­sticas ===")
print(f"MÃ©dia: {media:.2f}")
print(f"Mediana: {mediana:.2f}")
print(f"Q1 (25%): {q1:.2f}")
print(f"Q3 (75%): {q3:.2f}")
print(f"IQR: {iqr:.2f}")
print(f"Limite superior (outliers): {limite_superior:.2f}")


outliers = apreensoes_municipio[
    apreensoes_municipio["aaapai"] > limite_superior
]

print("\nMunicÃ­pios que destoam (acima do limite superior):")
print(outliers)

outliers.to_csv('outliers_apreensoes_baixada.csv', index=False, sep=';')

In [ ]:
top25 = apreensoes_municipio[apreensoes_municipio['aaapai'] > q3]

print("\nMunicÃ­pios acima do 3Âº quartil (25% com mais apreensÃµes):")
print(top25)

top25.to_csv('top25_apreensoes_baixada.csv', index=False, sep=';')

In [19]:
baseDP_capital = baseDP[baseDP['regiao'] == 'Capital']
baseDP_capital.head(20)

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
5,9,1,2003,2003m01,2,1,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,36,3,0,0,0,0,554,3
6,10,1,2003,2003m01,2,1,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,40,2,3,0,0,0,593,3
7,12,1,2003,2003m01,19,1,Rio de Janeiro,3304557,Capital,2,...,NaN,NaN,48,3,0,0,0,0,620,3
8,13,1,2003,2003m01,19,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,26,1,0,0,0,0,455,3
9,14,1,2003,2003m01,23,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,43,2,2,0,0,0,636,3
10,15,1,2003,2003m01,23,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,25,5,0,0,0,0,294,3
11,16,1,2003,2003m01,36,6,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,141,3,1,0,0,0,973,3
12,17,1,2003,2003m01,4,1,Rio de Janeiro,3304557,Capital,5,...,NaN,NaN,38,2,4,0,0,0,576,3
13,18,1,2003,2003m01,6,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,28,1,1,0,0,0,389,3
14,19,1,2003,2003m01,6,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,52,1,2,0,0,0,569,3
15,20,1,2003,2003m01,6,1,Rio de Janeiro,3304557,Capital,2,...,NaN,NaN,29,0,2,0,0,0,485,3
16,21,1,2003,2003m01,22,1,Rio de Janeiro,3304557,Capital,23,...,NaN,NaN,53,8,5,0,1,1,991,3
17,22,1,2003,2003m01,16,1,Rio de Janeiro,3304557,Capital,2,...,NaN,NaN,43,4,3,0,0,0,687,3
18,23,1,2003,2003m01,3,1,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,56,0,0,0,0,0,790,3
19,24,1,2003,2003m01,3,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,55,6,1,0,0,0,502,3

In [20]:
BaseDP_estelionato = baseDP_capital.groupby('cisp')['estelionato'].sum().reset_index()
BaseDP_estelionato

    cisp  estelionato
0      1        27293
1      4         6918
2      5        21417
3      6         7226
4      7         2182
5      9        17092
6     10        19249
7     11         1293
8     12        21174
9     13        11509
10    14        18586
11    15        10409
12    16        41003
13    17         6998
14    18        10130
15    19        20340
16    20        13490
17    21        17909
18    22        13293
19    23        14311
20    24         8637
21    25         7523
22    26         8369
23    27        13830
24    28        10632
25    29        17796
26    30         8875
27    31         6443
28    32        32570
29    33        15389
30    34        23101
31    35        38234
32    36        15234
33    37        15427
34    38        10100
35    39         8129
36    40         6726
37    41        12936
38    42        19272
39    43         6065
40    44         6661
41    45           98

In [38]:
valores = np.array(BaseDP_estelionato["estelionato"])

media = np.mean(valores)
mediana = np.median(valores)

q1 = np.percentile(valores, 25)
q3 = np.percentile(valores, 75)
iqr = q3 - q1

limite_inferior = q1 - 1.5 * iqr
limite_superior = q3 + 1.5 * iqr

print("=== EstatÃ­sticas ===")
print(f"MÃ©dia: {media}")
print(f"Mediana: {mediana}")
print(f"Q1 (25%): {q1}")
print(f"Q3 (75%): {q3}")
print(f"IQR: {iqr}")
print(f"Limite superior (outliers): {limite_superior}")


outliers = BaseDP_estelionato[
    BaseDP_estelionato["estelionato"] > limite_superior
]

print("\nDelegacias que destoam (acima do limite superior):")
print(outliers)

top_25 = BaseDP_estelionato[
    BaseDP_estelionato["estelionato"] >= q3
]

print("\nDelegacias acima do 3Âº quartil (Top 25% dos casos):")
print(top_25)


top_25.to_csv("top25_estelionato_capital.csv", index=False, sep=";")

=== EstatÃ­sticas ===
MÃ©dia: 14139.738095238095
Mediana: 13114.5
Q1 (25%): 7674.5
Q3 (75%): 18416.75
IQR: 10742.25
Limite superior (outliers): 34530.125

Delegacias que destoam (acima do limite superior):
    cisp  estelionato
12    16        41003
31    35        38234

Delegacias acima do 3Âº quartil (Top 25% dos casos):
    cisp  estelionato
0      1        27293
2      5        21417
6     10        19249
8     12        21174
10    14        18586
12    16        41003
15    19        20340
28    32        32570
30    34        23101
31    35        38234
38    42        19272

In [ ]:
# 1. Filtrar RegiÃ£o dos Lagos
regiao_lagos = ['Araruama', 'Arraial do Cabo', 'BÃºzios', 'Cabo Frio', 
                'Iguaba Grande', 'SÃ£o Pedro da Aldeia', 'Saquarema',
                'Silva Jardim', 'MaricÃ¡', 'Rio das Ostras']

lagos = baseDP[baseDP['munic'].isin(regiao_lagos)]

# 2. Somar cada tipo de crime
crimes_violentos = ['hom_doloso', 'lesao_corp_dolosa', 'lesao_corp_morte', 
                   'latrocinio', 'cvli', 'letalidade_violenta', 'estupro', 
                   'tentat_hom', 'hom_por_interv_policial']

total_por_crime = lagos[crimes_violentos].sum()

# 3. Calcular desvio (simples)
media = total_por_crime.mean()
desvio_relativo = (total_por_crime - media) / media

# 4. Encontrar o que mais destoa
crime_mais_destoa = desvio_relativo.idxmax()
valor_destoa = desvio_relativo.max()

print("ðŸ“Š Total de cada crime violento na RegiÃ£o dos Lagos:")
print(total_por_crime.sort_values(ascending=False))

print(f"\nðŸŽ¯ O crime que MAIS destoa Ã©: {crime_mais_destoa}")
print(f"ðŸ“ˆ EstÃ¡ {valor_destoa:.1%} acima da mÃ©dia dos crimes")
print(f"ðŸ”¢ NÃºmero absoluto: {total_por_crime[crime_mais_destoa]:.0f} casos")

In [31]:

# 1. Filtrar RegiÃ£o dos Lagos
regiao_lagos = ['Araruama', 'Arraial do Cabo', 'BÃºzios', 'Cabo Frio', 
                'Iguaba Grande', 'SÃ£o Pedro da Aldeia', 'Saquarema',
                'Silva Jardim', 'MaricÃ¡', 'Rio das Ostras']

lagos = baseDP[baseDP['munic'].isin(regiao_lagos)]

# 2. Somar cada tipo de crime
crimes_violentos = ['hom_doloso', 'lesao_corp_dolosa', 'lesao_corp_morte', 
                   'latrocinio', 'cvli', 'letalidade_violenta', 'estupro', 
                   'tentat_hom', 'hom_por_interv_policial']

total_por_crime = lagos[crimes_violentos].sum()

# 3. Calcular quartis
Q3 = total_por_crime.quantile(0.75)
limite_superior = Q3 + 1.5 * (total_por_crime.quantile(0.75) - total_por_crime.quantile(0.25))

# 4. Identificar outliers
outliers = total_por_crime[total_por_crime > limite_superior]

# 5. Criar DataFrame para salvar
resultado = pd.DataFrame({
    'crime': total_por_crime.index,
    'total_casos': total_por_crime.values,
    'e_outlier': total_por_crime.index.isin(outliers.index)
})

# 6. Salvar em CSV
resultado.to_csv('crimes_violentos_lagos.csv', index=False, sep=';')

print("âœ… Salvo em 'crimes_violentos_lagos.csv'")
print("\nðŸ“Š Resultados salvos:")
print(resultado)

âœ… Salvo em 'crimes_violentos_lagos.csv'

ðŸ“Š Resultados salvos:
                     crime  total_casos  e_outlier
0               hom_doloso         6338      False
1        lesao_corp_dolosa        83014       True
2         lesao_corp_morte           49      False
3               latrocinio          179      False
4                     cvli         6566      False
5      letalidade_violenta         7072      False
6                  estupro         7166      False
7               tentat_hom         6060      False
8  hom_por_interv_policial          506      False

In [37]:

aisp_agrupado = baseDP.groupby('aisp')['registro_ocorrencias'].mean().reset_index()

# Calcular quartis para identificar outliers
Q1 = aisp_agrupado['registro_ocorrencias'].quantile(0.25)
Q3 = aisp_agrupado['registro_ocorrencias'].quantile(0.75)
IQR = Q3 - Q1
limite_superior = Q3 + 1.5 * IQR

aisp_outliers = aisp_agrupado[aisp_agrupado['registro_ocorrencias'] > limite_superior]


aisp_outliers['registro_ocorrencias'] = aisp_outliers['registro_ocorrencias'].round(0).astype(int)

print("ðŸ“Š MÃ©dia de Registros de OcorrÃªncias por AISP:")
print(aisp_agrupado.sort_values('registro_ocorrencias', ascending=False))

print(f"\nðŸ“ˆ EstatÃ­sticas:")
print(f"Q1: {Q1:.0f}")
print(f"Q3: {Q3:.0f}") 
print(f"IQR: {IQR:.0f}")
print(f"Limite Superior (outliers): {limite_superior:.0f}")

print("\nðŸš¨ AISPs que destoam (acima do limite superior):")
print(aisp_outliers)

aisp_outliers.to_csv('aisp_outliers_ocorrencias.csv', index=False, sep=';', float_format='%.0f')
print("\nâœ… Salvo em 'aisp_outliers_ocorrencias.csv'")

ðŸ“Š MÃ©dia de Registros de OcorrÃªncias por AISP:
    aisp  registro_ocorrencias
39    40           1513.416667
20    21           1424.736059
21    22           1187.088235
30    31           1135.124726
38    39           1053.385870
13    14            961.472136
12    13            939.323232
17    18            846.137072
40    41            790.482955
14    15            742.595588
16    17            728.540441
6      7            718.123162
1      2            717.020221
19    20            714.151971
26    27            703.296380
15    16            682.671074
8      9            681.011054
4      5            676.459977
5      6            660.138441
18    19            634.042279
3      4            604.400778
2      3            543.561765
22    23            469.721168
11    12            469.384191
25    26            372.411765
27    28            370.594235
0      1            335.299020
24    25            310.110066
7      8            310.061345
31    32            298.486068
33    34            283.218579
23    24            268.608309
36    37            236.565698
32    33            235.616082
41    43            219.357143
34    35            208.636796
29    30            174.592975
37    38            166.407683
10    11            114.445979
28    29            106.185594
9     10            105.829196
35    36             76.632789

ðŸ“ˆ EstatÃ­sticas:
Q1: 272
Q3: 726
IQR: 454
Limite Superior (outliers): 1406

ðŸš¨ AISPs que destoam (acima do limite superior):
    aisp  registro_ocorrencias
20    21                  1425
39    40                  1513

âœ… Salvo em 'aisp_outliers_ocorrencias.csv'

C:\Users\PC\AppData\Local\Temp\ipykernel_23384\206431091.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aisp_outliers['registro_ocorrencias'] = aisp_outliers['registro_ocorrencias'].round(0).astype(int)