In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [11]:
baseDP = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep=';', encoding='latin1')
baseDP

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [44]:
baseDP_apreenssao = baseDP['aaapai']
baseDP_apreenssao

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
36624    1.0
36625    0.0
36626    9.0
36627    4.0
36628    0.0
Name: aaapai, Length: 36629, dtype: float64

In [ ]:
print(baseDP_ordenada[['munic', 'aaapai']].head(10))

In [ ]:
baseDP_baixada = baseDP[baseDP['regiao'] == 'Baixada Fluminense']
baseDP_baixada.head(20)
baseDP_baixada.to_csv('baseDP_baixada.csv', index=False, sep=';')

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase,total_apreensao
38,48,1,2003,2003m01,24,3,Seropédica,3305554,Baixada Fluminense,4,...,NaN,28,0,1,0,0,0,139,3,NaN
39,50,1,2003,2003m01,24,3,Itaguaí,3302007,Baixada Fluminense,7,...,NaN,79,3,0,0,0,0,246,3,NaN
40,51,1,2003,2003m01,24,3,Paracambi,3303609,Baixada Fluminense,2,...,NaN,26,2,0,0,0,0,91,3,NaN
41,52,1,2003,2003m01,20,3,Nova Iguaçu,3303500,Baixada Fluminense,6,...,NaN,94,1,1,0,0,0,585,3,NaN
42,53,1,2003,2003m01,20,3,Mesquita,3302858,Baixada Fluminense,8,...,NaN,89,4,1,0,0,0,372,3,NaN
43,54,1,2003,2003m01,20,3,Belford Roxo,3300456,Baixada Fluminense,20,...,NaN,211,15,2,0,0,0,703,3,NaN
44,55,1,2003,2003m01,24,3,Queimados;Japeri,9999981,Baixada Fluminense,11,...,NaN,49,12,0,0,0,0,268,3,NaN
45,56,1,2003,2003m01,20,3,Nova Iguaçu,3303500,Baixada Fluminense,27,...,NaN,89,9,0,0,0,0,380,3,NaN
46,57,1,2003,2003m01,20,3,Nilópolis,3303203,Baixada Fluminense,5,...,NaN,74,6,0,0,0,0,447,3,NaN
47,58,1,2003,2003m01,20,3,Nova Iguaçu,3303500,Baixada Fluminense,29,...,NaN,128,6,1,0,0,0,569,3,NaN
48,59,1,2003,2003m01,15,3,Duque de Caxias,3301702,Baixada Fluminense,14,...,NaN,155,14,3,0,0,0,1221,3,NaN
49,60,1,2003,2003m01,15,3,Duque de Caxias,3301702,Baixada Fluminense,21,...,NaN,39,9,2,0,0,0,370,3,NaN
50,61,1,2003,2003m01,15,3,Duque de Caxias,3301702,Baixada Fluminense,2,...,NaN,24,1,0,0,0,0,124,3,NaN
51,62,1,2003,2003m01,15,3,Duque de Caxias,3301702,Baixada Fluminense,12,...,NaN,27,3,1,0,0,0,172,3,NaN
52,64,1,2003,2003m01,20,3,São João de Meriti,3305109,Baixada Fluminense,17,...,NaN,85,7,2,0,0,0,898,3,NaN
53,65,1,2003,2003m01,34,5,Magé;Guapimirim,9999982,Baixada Fluminense,4,...,NaN,70,4,0,0,0,0,285,3,NaN
54,66,1,2003,2003m01,34,5,Magé,3302502,Baixada Fluminense,8,...,NaN,53,4,4,0,0,0,278,3,NaN
164,48,2,2003,2003m02,24,3,Seropédica,3305554,Baixada Fluminense,7,...,NaN,19,1,0,0,0,0,187,3,NaN
165,50,2,2003,2003m02,24,3,Itaguaí,3302007,Baixada Fluminense,5,...,NaN,39,4,2,0,0,0,252,3,NaN
166,51,2,2003,2003m02,24,3,Paracambi,3303609,Baixada Fluminense,3,...,NaN,31,3,0,0,0,0,111,3,NaN

In [ ]:

apreensoes_municipio = baseDP_baixada.groupby('munic')['aaapai'].sum().reset_index()
apreensoes_municipio = apreensoes_municipio.sort_values(by='aaapai', ascending=False)
apreensoes_municipio

In [ ]:

est_apreensao = np.array(apreensoes_municipio['aaapai'])

mediana = np.median(est_apreensao)
media = np.mean(est_apreensao).round(1)
q1 = np.percentile(est_apreensao, 25)
q2 = np.percentile(est_apreensao, 50)
q3 = np.percentile(est_apreensao, 75)
IQR = q3 - q1

print(f"Média: {media}")
print(f"Mediana: {mediana}")
print(f"Primeiro quartil (Q1): {q1}")
print(f"Terceiro quartil (Q3): {q3}")

# Limites para outliers
limite_inferior = q1 - (1.5 * IQR)
limite_superior = q3 + (1.5 * IQR)

outliers = apreensoes_municipio[
    (apreensoes_municipio['aaapai'] < limite_inferior) |
    (apreensoes_municipio['aaapai'] > limite_superior)
]

print("\nOutliers:")
print(outliers)

outliers.to_csv('outliers.csv', index=False, sep=';')

Média: 1460.0
Mediana: 693.0
Primeiro quartil (Q1): 337.5
Terceiro quartil (Q3): 1917.5

Outliers:
             munic  aaapai
1  Duque de Caxias  6233.0

In [57]:

municipios_top = apreensoes_municipio.sort_values(by='aaapai', ascending=False).head(int(len(apreensoes_municipio) * 0.25))
print("\nTop 25% municípios com mais apreensões:")
print(municipios_top)


municipios_top.to_csv('municipios_top_25.csv', index=False, sep=';')

Top 25% municípios com mais apreensões:
                 munic  aaapai
1      Duque de Caxias  6233.0
9          Nova Iguaçu  4098.0
14  São João de Meriti  2953.0

In [59]:

apreensoes_municipio['Percentual'] = apreensoes_municipio['aaapai'] / apreensoes_municipio['aaapai'].sum() * 100
apreensoes_municipio['Acumulado'] = apreensoes_municipio['Percentual'].cumsum()

# Exibir resultado
print(apreensoes_municipio[['munic', 'aaapai', 'Percentual', 'Acumulado']])

apreensoes_municipio.to_csv('apreensoes_municipio.csv', index=False, sep=';')

                 munic  aaapai  Percentual   Acumulado
1      Duque de Caxias  6233.0   28.461187   28.461187
9          Nova Iguaçu  4098.0   18.712329   47.173516
14  São João de Meriti  2953.0   13.484018   60.657534
0         Belford Roxo  2584.0   11.799087   72.456621
5                 Magé  1251.0    5.712329   78.168950
7             Mesquita  1218.0    5.561644   83.730594
3              Itaguaí   881.0    4.022831   87.753425
8            Nilópolis   693.0    3.164384   90.917808
11           Queimados   573.0    2.616438   93.534247
4               Japeri   402.0    1.835616   95.369863
10           Paracambi   366.0    1.671233   97.041096
13          Seropédica   309.0    1.410959   98.452055
2           Guapimirim   213.0    0.972603   99.424658
6      Magé;Guapimirim   126.0    0.575342  100.000000
12    Queimados;Japeri     0.0    0.000000  100.000000